<mat-toolbar>Edição</mat-toolbar>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="space-between stretch">
  <mat-form-field appearance="legacy">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Digite seu nome aqui" type="text" formControlName="nome" required>
    <mat-hint>Nome</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Telefone</mat-label>
    <input matInput placeholder="Digite seu telefone aqui" type="text" formControlName="telefone" required>
    <mat-hint>Telefone</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Digite seu email aqui" type="text" formControlName="email" required>
    <mat-hint>Email</mat-hint>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="center center" class="example-button-row">
    <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Editar Cliente</button>
    <button mat-raised-button color="accent" (click)="close()">Cancelar</button>
  </div>
</form>
