<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="datasource">
    <!-- Cpf Column -->
    <ng-container *ngFor="let coluna of colunasMostradas" matColumnDef="{{coluna}}" sticky>
      <th mat-header-cell *matHeaderCellDef> {{coluna}} </th>
      <div *ngIf="!coluna.includes('menu')">
        <td mat-cell *matCellDef="let element" (click)="selecionar(element)" (dblclick)="delete(element)">
          {{element[coluna]}}
        </td>
      </div>
      <div *ngIf="coluna.includes('menu')">
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="menu" (click)="delete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </div>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasMostradas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasMostradas;"></tr>
  </table>
</div>
